.apartments-filter{
  padding-top: 50px;
  .apartments-filter_form{
    margin: 10px 0;
    .filter{
      margin: 0 10px;
    }
    .filter-fetch-button{
      padding: 0 10px;
    }
  }
  .apartments-filter_table{

  }
}